

html body {
    background-color: white;
    margin:0px;
    padding:0px;
}
.container {
    width:100%;
    margin:auto;
    background-color: salmon;
    box-sizing: border-box;
    display:flex;
}
.header {
    flex:1 ;
    padding:5px;
    font-size: 15px;
}
.sidebar a {
    flex-grow: right;
    text-decoration: none;
    color:black;
    margin:5px;
    padding:5px;
    text-align: center;

}

.container-dua{
    background-image:url(Pictures/Toko.png) ;
}


.container-tiga{
    width:800px;
    margin:20px auto;
}
.card.header-satu.conten{
    border:2px solid black;
    border-radius: 20px;
    background-color: aqua;
}