

html body {
    background-color: white;
    margin:0px;
    padding:0px;
}
.container {
    width:100%;
    margin:auto;
    background-color: salmon;
    box-sizing: border-box;
    display:flex;
}
.header {
    flex:1 ;
    padding:5px;
    font-size: 15px;
}
.sidebar a {
    flex-grow: right;
    text-decoration: none;
    color:black;
    margin:20px;

}

.container-dua{
    background-image:url(Pictures/Toko.png) ;
}