

html body {
    background-color: white;
    margin:0px;
    padding:0px;
}
.container {
    width:300px;
    margin:20px auto;
    background-color: salmon;
    padding:5px;
    box-sizing: border-box;
    display:flex;
}
.header {
    flex:1 ;
}
.sidebar {
    flex:1;

}